{% extends "layout/main" %}

{% set bodyId = 'pages' %}

{% block content %}
    <div id="wrapper">
      
      <header id="header" class="about-header">
      
        {% include "layout/mobile-menu" with {title:'About'} %}
        {% include "layout/mobile-header" %}
        {% include "layout/desktop-menu" %}
        
     
        
      </header> <!-- #header -->
      
      <section id="content" class="about-us">
        <div class="content-wrapper row-fluid">
          <div class="span3">
          </div> <!-- .span3 -->
          <div class="span9 right-content">
            
            <section id="philosophy">
              <header>
                <nav class="about-nav">
                  <ul>
                    <li> <a href="#philosophy" class="active">Philosophy</a> </li>
                    <li> <a href="#history">History</a> </li>
                    <li> <a href="#affiliations">Affiliations</a> </li>
                    <li> <a href="#team">Team</a> </li>
                  </ul>
                </nav> <!-- .about-nav -->
              </header> <!-- header -->
              
              <div class="content">
                <h2>Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</h2>
                <h4>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</h4>
              </div> <!-- .content -->
              
              <footer>
                <a href="#history" class="arrow-down">Next</a>
              </footer> <!-- footer -->
            </section>
            
            <section id="history">
              <header>
                <nav class="about-nav">
                  <ul>
                    <li> <a href="#philosophy">Philosophy</a> </li>
                    <li> <a href="#history" class="active">History</a> </li>
                    <li> <a href="#affiliations">Affiliations</a> </li>
                    <li> <a href="#team">Team</a> </li>
                  </ul>
                </nav> <!-- .about-nav -->
              </header> <!-- header -->
              
              <div class="content">
                <h2>Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis.</h2>
                
                <ul id="timeline">
                  <li> <span class="year">1989</span> <em class="dot"></em> <span class="line two"></span> <span class="profile" style="background:url('images/site/timeline/1.jpg')">  </span> <span class="text">Thomas Ferrara opens T. Ferrara & Co., A real estate consulting and brokerage firm </span> </li>
                  
                  <li> <span class="year">1991</span> <em class="dot"></em> <span class="line one"></span> <span class="profile no-block" style="background:url('images/site/timeline/2.png')">  </span> <span class="text"> Company moves to 45 Exchange Boulevard in Rochester, NY </span> </li>
                  
                  <li> <span class="year">1994</span> <em class="dot"></em> <span class="line two"></span> <span class="profile" style="background:url('images/site/timeline/3.jpg')">  </span> <span class="text"> Douglas Jerum joins T. Ferrara & Co. </span> </li>
                  
                  <li> <span class="year">1996</span> <em class="dot"></em> <span class="line one"></span> <span class="profile no-block" style="background:url('images/site/timeline/4.png')">  </span> <span class="text"> Company initiates a Build-to-Suit program for its tenants </span> </li>
                  
                  <li> <span class="year">1997</span> <em class="dot"></em> <span class="line three"></span> <span class="profile starbucks" style="background:url('images/site/timeline/5.png')">  </span> <span class="text"> Company opens first Starbucks Coffee Company location in Upstate NY </span> </li>
                  
                  <li> <span class="year">1997</span> <em class="dot"></em> <span class="line three"></span> <span class="profile" style="background:url('images/site/timeline/6.png')">  </span> <span class="text"> Company expands representation services to Toronto, Canada </span> </li>
                  
                  <li> <span class="year">1998</span> <em class="dot"></em> <span class="line two"></span> <span class="profile" style="background:url('images/site/timeline/7.jpg')">  </span> <span class="text"> Douglas Jerum becomes Partner. Company changes name to Ferrara Jerum International, LLC. </span> </li>
                  
                  <li> <span class="year">2001</span> <em class="dot"></em> <span class="line four"></span> <span class="profile" style="background:url('images/site/timeline/8.jpg')">  </span> <span class="text"> Christine Monteferrante joins FJI </span> </li>
                  
                  <li> <span class="year">2002</span> <em class="dot"></em> <span class="line two"></span> <span class="profile wallmart" style="background:url('images/site/timeline/9.png')">  </span> <span class="text"> Company selected to exclusively represent Walmart across Upstate NY </span> </li>
                  
                  <li> <span class="year">2005</span> <em class="dot"></em> <span class="line three"></span> <span class="profile" style="background:url('images/site/timeline/10.png')">  </span> <span class="text"> Company selected to exclusively represent Kohls Department Stores across Upstate NY </span> </li>
                </ul>
                
              </div> <!-- .content -->
              
              <footer>
                <a href="#affiliations" class="arrow-down">Next</a>
              </footer> <!-- footer -->
            </section>
            
            <section id="affiliations">
              <header>
                <nav class="about-nav">
                  <ul>
                    <li> <a href="#philosophy">Philosophy</a> </li>
                    <li> <a href="#history">History</a> </li>
                    <li> <a href="#affiliations" class="active">Affiliations</a> </li>
                    <li> <a href="#team">Team</a> </li>
                  </ul>
                </nav> <!-- .about-nav -->
              </header> <!-- header -->
              
              <div class="content">
                
                <div class="entry">
                	<div class="row-fluid">
                    <div class="span4">
                      <img src="images/site/wallmart.png" alt="Walmart" />
                    </div>
                    <div class="span8">
                      <h4>Listing Name Here</h4>
                      <h6>Glen Rock, NJ</h6>
                      <p>Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. </p>
                      
                      <span class="socmed"> <a href="">Twitter</a> | <a href="">Website</a> </span>
                      
                      <a href="" class="view-listing-nav">View Listing &raquo;</a>
                      
                    </div>
                  </div>
                </div> <!-- .entry -->
                
                <div class="entry">
                	<div class="row-fluid">
                    <div class="span4">
                      <img src="images/site/wallmart.png" alt="Walmart" />
                    </div>
                    <div class="span8">
                      <h4>Listing Name Here</h4>
                      <h6>Glen Rock, NJ</h6>
                      <p>Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. </p>
                      
                      <span class="socmed"> <a href="">Twitter</a> | <a href="">Website</a> </span>
                      
                      <a href="" class="view-listing-nav">View Listing &raquo;</a>
                      
                    </div>
                  </div>
                </div> <!-- .entry -->
                
              </div> <!-- .content -->
              
              <footer>
                <a href="#team" class="arrow-down">Next</a>
              </footer> <!-- footer -->
            </section>
            
            <section id="team">
              <header>
                <nav class="about-nav">
                  <ul>
                    <li> <a href="#philosophy">Philosophy</a> </li>
                    <li> <a href="#history">History</a> </li>
                    <li> <a href="#affiliations">Affiliations</a> </li>
                    <li> <a href="#team" class="active">Team</a> </li>
                  </ul>
                </nav> <!-- .about-nav -->
              </header> <!-- header -->
              
              <div class="content">
                <ul class="team-list hidden-phone">
                  <li>
                    <span class="profile-image" style="background:url('images/site/team/1.jpg')" data-content="<h5>Thomas Ferrara</h5><span>Fusce Dapibus</span>Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. <div class='socmed'><a href='' class='twitter'></a><a href='' class='linkedin'></a></div><span class='popover-close'></span>" data-toggle="popover"></span>
                    <h6 class="name">Thomas Ferrara</h6>
                    Fusce dapibalus, tellus <br />
                    <ul class="small-socmed">
                      <li> <a href="" class="twitter"></a> </li>
                      <li> <a href="" class="linkedin"></a> </li>
                    </ul> 
                  </li> <!-- li -->
                  <li>
                    <span class="profile-image" style="background:url('images/site/team/2.jpg')" data-content="<h5>Thomas Ferrara</h5><span>Fusce Dapibus</span>Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. <div class='socmed'><a href='' class='twitter'></a><a href='' class='linkedin'></a></div><span class='popover-close'></span>" data-toggle="popover"></span>
                    <h6 class="name">Thomas Ferrara</h6>
                    Fusce dapibalus, tellus <br />
                    <ul class="small-socmed">
                      <li> <a href="" class="twitter"></a> </li>
                      <li> <a href="" class="linkedin"></a> </li>
                    </ul> 
                  </li> <!-- li -->
                  <li>
                    <span class="profile-image" style="background:url('images/site/team/3.jpg')" data-content="<h5>Thomas Ferrara</h5><span>Fusce Dapibus</span>Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. <div class='socmed'><a href='' class='twitter'></a><a href='' class='linkedin'></a></div><span class='popover-close'></span>" data-toggle="popover"></span>
                    <h6 class="name">Thomas Ferrara</h6>
                    Fusce dapibalus, tellus <br />
                    <ul class="small-socmed">
                      <li> <a href="" class="twitter"></a> </li>
                      <li> <a href="" class="linkedin"></a> </li>
                    </ul> 
                  </li> <!-- li -->
                  <li>
                    <span class="profile-image" style="background:url('images/site/team/4.jpg')" data-content="<h5>Thomas Ferrara</h5><span>Fusce Dapibus</span>Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. <div class='socmed'><a href='' class='twitter'></a><a href='' class='linkedin'></a></div><span class='popover-close'></span>" data-toggle="popover"></span>
                    <h6 class="name">Thomas Ferrara</h6>
                    Fusce dapibalus, tellus <br />
                    <ul class="small-socmed">
                      <li> <a href="" class="twitter"></a> </li>
                      <li> <a href="" class="linkedin"></a> </li>
                    </ul> 
                  </li> <!-- li -->
                  <li>
                    <span class="profile-image" style="background:url('images/site/team/5.jpg')" data-content="<h5>Thomas Ferrara</h5><span>Fusce Dapibus</span>Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. <div class='socmed'><a href='' class='twitter'></a><a href='' class='linkedin'></a></div><span class='popover-close'></span>" data-toggle="popover"></span>
                    <h6 class="name">Thomas Ferrara</h6>
                    Fusce dapibalus, tellus <br />
                    <ul class="small-socmed">
                      <li> <a href="" class="twitter"></a> </li>
                      <li> <a href="" class="linkedin"></a> </li>
                    </ul> 
                  </li> <!-- li -->
                  <li>
                    <span class="profile-image" style="background:url('images/site/team/6.jpg')" data-content="<h5>Thomas Ferrara</h5><span>Fusce Dapibus</span>Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. <div class='socmed'><a href='' class='twitter'></a><a href='' class='linkedin'></a></div><span class='popover-close'></span>" data-toggle="popover"></span>
                    <h6 class="name">Thomas Ferrara</h6>
                    Fusce dapibalus, tellus <br />
                    <ul class="small-socmed">
                      <li> <a href="" class="twitter"></a> </li>
                      <li> <a href="" class="linkedin"></a> </li>
                    </ul> 
                  </li> <!-- li -->
                </ul>
                
                
                <ul class="team-list visible-phone">
                  <li class="row-fluid">
                    <div class="left">
                      <span class="profile-image" style="background:url('images/site/team/1.jpg')"></span>
                    </div>
                    <div class="right">
                      <h6 class="name">Thomas Ferrara</h6>
                      Fusce dapibalus, tellus <br />
                      <ul class="small-socmed">
                        <li> <a href="" class="twitter"></a> </li>
                        <li> <a href="" class="linkedin"></a> </li>
                      </ul>
                    </div>
                    <p>Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
                    
                  </li> <!-- li -->
                  <li class="row-fluid">
                    <div class="left">
                      <span class="profile-image" style="background:url('images/site/team/2.jpg')"></span>
                    </div>
                    <div class="right">
                      <h6 class="name">Thomas Ferrara</h6>
                      Fusce dapibalus, tellus <br />
                      <ul class="small-socmed">
                        <li> <a href="" class="twitter"></a> </li>
                        <li> <a href="" class="linkedin"></a> </li>
                      </ul>
                    </div>
                    <p>Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
                    
                  </li> <!-- li -->
                  <li class="row-fluid">
                    <div class="left">
                      <span class="profile-image" style="background:url('images/site/team/3.jpg')"></span>
                    </div>
                    <div class="right">
                      <h6 class="name">Thomas Ferrara</h6>
                      Fusce dapibalus, tellus <br />
                      <ul class="small-socmed">
                        <li> <a href="" class="twitter"></a> </li>
                        <li> <a href="" class="linkedin"></a> </li>
                      </ul>
                    </div>
                    <p>Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
                    
                  </li> <!-- li -->
                  <li class="row-fluid">
                    <div class="left">
                      <span class="profile-image" style="background:url('images/site/team/1.jpg')"></span>
                    </div>
                    <div class="right">
                      <h6 class="name">Thomas Ferrara</h6>
                      Fusce dapibalus, tellus <br />
                      <ul class="small-socmed">
                        <li> <a href="" class="twitter"></a> </li>
                        <li> <a href="" class="linkedin"></a> </li>
                      </ul>
                    </div>
                    <p>Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
                    
                  </li> <!-- li -->
                  <li class="row-fluid">
                    <div class="left">
                      <span class="profile-image" style="background:url('images/site/team/4.jpg')"></span>
                    </div>
                    <div class="right">
                      <h6 class="name">Thomas Ferrara</h6>
                      Fusce dapibalus, tellus <br />
                      <ul class="small-socmed">
                        <li> <a href="" class="twitter"></a> </li>
                        <li> <a href="" class="linkedin"></a> </li>
                      </ul>
                    </div>
                    <p>Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
                    
                  </li> <!-- li -->
                  <li class="row-fluid">
                    <div class="left">
                      <span class="profile-image" style="background:url('images/site/team/5.jpg')"></span>
                    </div>
                    <div class="right">
                      <h6 class="name">Thomas Ferrara</h6>
                      Fusce dapibalus, tellus <br />
                      <ul class="small-socmed">
                        <li> <a href="" class="twitter"></a> </li>
                        <li> <a href="" class="linkedin"></a> </li>
                      </ul>
                    </div>
                    <p>Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
                    
                  </li> <!-- li -->
                  <li class="row-fluid">
                    <div class="left">
                      <span class="profile-image" style="background:url('images/site/team/6.jpg')"></span>
                    </div>
                    <div class="right">
                      <h6 class="name">Thomas Ferrara</h6>
                      Fusce dapibalus, tellus <br />
                      <ul class="small-socmed">
                        <li> <a href="" class="twitter"></a> </li>
                        <li> <a href="" class="linkedin"></a> </li>
                      </ul>
                    </div>
                    <p>Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
                    
                  </li> <!-- li -->
                </ul>
                
              </div> <!-- .content -->
              
              <footer>
                <a href="#philosophy" class="arrow-down top">Back To Top</a>
              </footer> <!-- footer -->
            </section>
                        
          </div> <!-- .right-content -->
        </div> <!-- .content-wrapper -->
      </section> <!-- #content -->
      
      <footer id="words">
        <div class="row-fluid">
          <div class="span3">
          </div> <!-- .span3 -->
          <div class="span9">
            <p>"It takes 20 years to build a reputation and five minutes to ruin it. If you think about that, you'll do things differently"</p>
            <p class="name">- Warren Buffet</p>
          </div>
        </div>
      </footer>
      
      <footer id="footer">
        <div class="row-fluid footer-content">
          <nav>
            <ul>
              <li> <a href="about.html">About Us</a> </li>
              <li> <span>/</span><a href="services.html">Services</a> </li>
              <li> <span>/</span><a href="clients.html">Clients</a> </li>
              <li> <span>/</span><a href="property.html">Property Listings</a> </li>
              <li> <span>/</span><a href="contact.html">Contact</a> </li>
            </ul>
          </nav>
          <span class="copyright">&copy; 2013 Ferrara Jerum International. All Rights Reserved.</span>
        </div>
      </footer> <!-- #footer -->
      
    </div> <!-- #wrapper -->
{% endblock %}
  