{% extends "layout/main" %}

{% set bodyId = 'home' %}

{% block content %}
		<div id="wrapper" class="row-fluid">
			<section class="home-splash span12">
				<div class="row">
					<div class="span2">
						<a href="{{siteUrl}}}"><img class="top-logo" src="{{ siteUrl }}images/site/logo.png" alt="Logo"/></a>

						<section class="tagline visible-phone">
							<h1>Ferrara Jerum</h1>
							<h3>International</h3>

							<h4>Retail Real Estate Consultants</h4>
						</section>

					{% include "layout/nav" with {
						showMedia:true
					} %}

					</div>
					<div class="span10">

						<section class="tagline hidden-phone">
							<h1>Ferrara Jerum</h1>
							<h3>International</h3>

							<h4>Retail Real Estate Consultants</h4>
						</section>

						<section class="tweet">
							<img src="{{ siteUrl }}images/site/icon-twitter-white.png" alt="Twitter"/>

							<p>RT
								<a href="">@retail_sails</a>: #Retail QuickFact: From 2007-2012,
								<a href="">@FIVEBelow</a>
								grew stores from 67 to 244 loc & sales rose a compound annual rate of 44.5%
								<span class="time">Latest Tweet Posted 18 hours ago</span>
							</p>

						</section>

					</div>
				</div>
			</section>
            </div>
{% endblock %}