
        <div class="row-fluid header-content hidden-phone">
          <div class="span3">
            <a href="{{siteUrl}}"><img class="top-logo" src="{{siteUrl}}images/site/logo.png" alt="Logo" /></a>
            
            {% include "layout/nav" %}
            
          </div>
          <div class="span9">
            <section class="tagline">
              <h1>Ferrara Jerum</h1>
              <h3>International</h3>
            
              <h4>Retail Real Estate Consultants</h4>
            </section>
          </div>
        </div>