   <div class="row-fluid visible-phone mobileheader">
          <span class="span12">
            
            <a href="index.html"><img class="top-logo" src="{{siteUrl}}images/site/logo.png" alt="Logo" /></a>
            <section class="tagline">
              <h1>Ferrara Jerum</h1>
              <h3>International</h3>
            
              <h4>Retail Real Estate Consultants</h4>
            </section>
            
          </span>
        </div>