<div class="row-fluid visible-phone mobilemenu">
          <span class="span12"> <strong class="title">{{title}}</strong> <a href="#navmenu"><img class="mobilemenu-toggle" src="{{siteUrl}}images/site/mobilemenu.jpg" /></a> </span>
          {% include "layout/nav" with {id:'nav-menu',showHomeMenu:true} %}
        </div>